<h1>All Uploads</h1>
<div>
    <%= @sensors.each do |s| %>
        Location No: <%= s.locationNo %>
        Sequence no: <%= s.sequenceNo %>
        Sensor 1 FlowRate: <%= s.s1Flowrate %>
        Sensor 1 ML reading: <%= s.s1ML %>
        Sensor 2 FlowRate: <%= s.s2Flowrate %>
        Sensor 2 ML reading: <%= s.s2ML %>
        Delta (flow rate): <%= (s.s1Flowrate - s.s2Flowrate).abs %>
        Date Uploaded: <%= s.created_at.strftime("%H:%M:%S") %>
        Time Uploaded: <%= s.timeUploaded %>
        <br/>
        <br/>
    <% end %>

    <div class="col-xs-6">
       <h3> Flow Rate by Sensor per IDK</h3>
       <%= line_chart Sensor.pluck(:created_at, :s1Flowrate), xtitle: "Date/Time", ytitle: "S1 FlowRate" %>
       <%= line_chart Sensor.pluck(:created_at, :s2Flowrate), xtitle: "Date/Time", ytitle: "S2 FlowRate" %>
       <%= line_chart Sensor.pluck(:created_at, :delta), xtitle: "Date/Time", ytitle: "Delta" %>

   </div>

</div>
